<?xml version="1.0" encoding="UTF-8" ?>
<!-- mapper 주의! -->
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 인터페이스 형태로 구현된 Mapper 경로 -> 패키지 포함 -->
<!-- 경로 참조/복사 > 참조 복사 (패키지 경로까지 포함) -->
<mapper namespace="com.juyb99.dinorun.repository.ScoreRepository">
    <select id="findAll" resultType="com.juyb99.dinorun.dto.ScoreResponseDTO">
        SELECT *
        FROM score
        ORDER BY point DESC
        LIMIT 10;
    </select>

    <select id="findById" resultType="com.juyb99.dinorun.dto.ScoreResponseDTO">
        SELECT *
        FROM score
        WHERE score_id = #{id};
    </select>

    <insert id="save">
        INSERT INTO score(nickname, point)
        VALUES (#{nickname}, #{point});
    </insert>
</mapper>